<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yunnan.mapper.Data_collection_mapper">
    <insert id="test_companydata">
        insert into data_2023_09_1 (user_id, last_people_num, now_people_num, decrease_reason, main_reason, second_reason, explain_reason, state)
        VALUES (#{companyID}, #{docEmploymentNumber}, #{curEmploymentNumber}, #{numDecreasedReason}, #{mainReason}, #{secondReason}, #{reasonDetail}, #{status})
    </insert>
</mapper>