<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yunnan.mapper.Data_collection_mapper">
    <update id="test_companydata">
        update ${tableName} SET
            last_people_num = #{docEmploymentNumber},
            now_people_num = #{curEmploymentNumber},
            decrease_reason = #{numDecreasedReason},
            main_reason = #{mainReason},
            second_reason = #{secondReason},
            explain_reason = #{reasonDetail},
            state = #{status} WHERE user_id = #{companyID}
    </update>

    <insert id="insert_companydata">
        insert into ${tableName} (user_id, last_people_num, now_people_num, decrease_reason, main_reason, second_reason
            , explain_reason, modify_info, state)
        VALUES (#{companyID}, #{docEmploymentNumber}, #{curEmploymentNumber}, #{numDecreasedReason}, #{mainReason},
            #{secondReason}, #{reasonDetail}, '', #{status})
    </insert>
</mapper>